.nav-filtre {    
    position:relative;
    min-height: 25px;
    width: 250px;
    background-color:#CBC0D3;
    top:13%;
    left:0px;
    margin-left: 1%;
    padding-top: 45px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align:start; 
    border:5px double;
}

.nav-filtre .super_categorie {
    position: absolute;
    height: fit-content;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: aliceblue;
    border-bottom: solid black;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.nav-filtre a {
    text-decoration:none;
    color: rgb(0, 0, 0);
}

.nav-filtre a:hover {
    color:rgb(145, 85, 34);
}