.liste_ingredients {
    list-style: georgian;
}


button {
    padding: 14px 32px;
    border-radius: 15px;
    float:inline-start;
    margin-left: 10%;
    border: none;
    font-size: 15px;
    height: 50px;
    width:220px;
}

#coeur_vide {
    color:red;
    font-size: 18px;
}

#coeur_plein {
    color:red;
}

