header > nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    float: left;
}
.nav-item > a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer {
    background-color: gray;
    text-align: center;
}

.nav-filtre {
    width: 200px;
    background-color:#CBC0D3;
    position: relative;
    top:13%;
    left:5px;
    padding-top:7%;
    padding-bottom:7%;
    font-size: 20px;
    font-weight: bold;
    text-align:center; 
    border:5px double;
    border-radius:20px;
}

table {
    margin: 0px 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 5px 10px;
}

table {
    display: inline;
}